body {
    box-sizing: border-box;

    background-color: black;
    color: rgb(205, 226, 19);

    /* background: burlywood; */
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.header {
    /* background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.menu__box {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.menu__item-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu__item {
    font-size: 20px;
}

.logo__text {
    font-size: 25px;
}

.menu__item {
    padding: 10px 15px;
    border: 1px solid rgb(227, 250, 18);
    border-radius: 20px;
    list-style: none;
    cursor: pointer;
    transition: 1s;

}

.menu__item:hover {
    color: rgb(153, 84, 5);
    border: 1px solid rgb(153, 84, 5);
}

/* .menu__social svg {
    width: 20px;
    height: 20px;
transition: 1s;
} */
.logo__svg {
    fill: rgb(227, 250, 18);
}

.svg-icon {
    width: 20px;
    height: 20px;
    transition: 1s;
    fill: rgb(227, 250, 18);
}

.svg-icon:hover {
    fill: rgb(153, 84, 5);
}

.menu__item_svg {
    display: flex;
    gap: 10px;
}

.info {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info__title {
    font-size: 60px;
    font-weight: 900;
    color: rgb(205, 226, 19, 0.4);

}

.info__text {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(205, 226, 19, 0.3);
}

/* ---------------------------------------------- */
.foto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
}

.foto_img {
    border-radius: 30px;
    border: 1px solid rgb(205, 226, 19, 0.3);
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 1s;
}

.foto_img:hover {
    height: 250px;
}

/* -------------------------------------------- */
.clip {
    padding: 50px;
    display: flex;
    justify-content: center;

}

/* ------------------------------------------------------------- */


.wrapper__carousel {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.carousel {
    box-sizing: border-box;
    padding: 200px;
    position: relative;
}

.carousel__item {
    position: relative;
    height: 35rem;
    width: 25rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .5);
    position: absolute;
    transform: translate(-50%, -50%) scale(.1);
    z-index: 0;
    transition: all .2s linear;
    border-radius: 20px;
}

.carousel__item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.carousel__item--main {
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
    cursor: pointer;
}

.carousel__item--left {
    transform: translate(-110%, -50%) scale(.9);
    z-index: 1;
}

.carousel__item--right {
    transform: translate(10%, -50%) scale(.9);
    z-index: 1;
}

.carousel__item--left img,
.carousel__item--right img {
    filter: grayscale(80%);
}

.carousel__item--right:hover {
    transform: translate(10%, -50%) scale(1.2);
    z-index: 3;
    cursor: pointer;
}

.carousel__item--left:hover {
    transform: translate(-110%, -50%) scale(1.2);
    z-index: 3;
    cursor: pointer;
}

.carousel__item--main:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.carousel__item:hover>.carousel__text {
    opacity: 1;
}

.carousel__item:hover img {
    filter: grayscale(0%);
}

.carousel__text {
    position: absolute;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity .2s;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem 1rem;
    color: #fff;
}


.carousel__btns {
    position: absolute;
    transform: translate(-50%, 22rem);
    display: flex;
    gap: 2rem;
}

.carousel__btn {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid currentColor;
    color: #fff;
    cursor: pointer;
}

.carousel__btn svg {
    height: 1.8rem;
    width: 1.8rem;
}

.carousel__btn:hover {
    color: #aaa;
}

/* ------------------------------------ */
/* gallery------------------- */
.gallery {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 400px;
    max-width: 1200px;
}

.gallery__image {
    padding: 0.5rem 0.5rem 1.5rem;
    background: white;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transform-origin: center -5rem;

}

.gallery__image img {
    width: 300px;
    height: 300px;
}

.gallery__image::before {
    content: '';
    display: block;
    height: 10rem;
    width: 2px;
    background: saddlebrown;
    position: absolute;
    bottom: 100%;
    left: 50%;
}

.gallery__image:nth-child(1) {
    animation: 5s infinite bounce;
    animation-name: image1;
    transform: rotate(-10deg);
}

.gallery__image:nth-child(2) {
    animation: 4.5s infinite bounce;
    animation-name: image2;
    transform: rotate(8deg);

}

.gallery__image:nth-child(3) {
    animation: 4s infinite bounce;
    animation-name: image3;
    transform: rotate(-4deg);
}



@keyframes image1 {
    50% {
        transform: rotate(10deg);
    }
}

@keyframes image2 {
    50% {
        transform: rotate(-5deg);
    }
}

@keyframes image3 {
    50% {
        transform: rotate(6deg);
    }
}

/* ------------------------------------------------- */

/* main */


main {
    /* margin-top: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    min-height: 100vh;
}

/* Content */

.content {
    padding-left: 120px;
    color: #c7c7c7c9;
}

.content h1 {
    font-family: "Dancing Script", cursive;
    font-size: clamp(2.5rem, 4vw, 6rem);
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #f76591, #ffc16f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    margin-bottom: 36px;
    padding-left: 10px;
}

.content p {
    font-size: clamp(0.9rem, 4vw, 1.2rem);
    line-height: 1.6;
    padding-right: 100px;
}

.btn {
    background-color: #f76591;
    background-image: linear-gradient(-180deg, #ffc16f, #f76591);
    font-size: clamp(0.8rem, 8vw, 0.9rem);
    font-weight: 600;
    color: #fff;
    width: max-content;
    outline: 0;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-top: 26px;
    text-align: center;
    transform: scale(1);
    transition: all 0.2s ease-in;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: auto;
}

.btn:hover {
    box-shadow: 0 4px 10px rgba(247, 101, 145, 0.5);
    transform: scale(0.98);
}

/* Stacked Cards */

.stack {
    position: relative;
}

.card {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-family: sans-serif;
    font-size: 10rem;
    background-color: transparent;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
        0 15px 20px 0 rgba(0, 0, 0, 0.125);
    transition: transform 0.6s;
    user-select: none;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: transform 0.4s;
}

.card:nth-last-child(n + 5) {
    --x: calc(-50% + 90px);
    transform: translate(var(--x), -50%) scale(0.85);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
}

.card:nth-last-child(4) {
    --x: calc(-50% + 60px);
    transform: translate(var(--x), -50%) scale(0.9);
}

.card:nth-last-child(3) {
    --x: calc(-50% + 30px);
    transform: translate(var(--x), -50%) scale(0.95);
}

.card:nth-last-child(2) {
    --x: calc(-50%);
    transform: translate(var(--x), -50%) scale(1);
}

.card:nth-last-child(1) {
    --x: calc(-50% - 30px);
    transform: translate(var(--x), -50%) scale(1.05);
}

.card:nth-last-child(1) img {
    box-shadow: 0 1px 5px 5px rgba(255, 193, 111, 0.5);
}

.swap {
    animation: swap 1.3s ease-out forwards;
}

@keyframes swap {
    30% {
        transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
        z-index: -1;
    }
}

/* Media queries for keyframes */


/* ------------------------------------------------------- */

.gallery__second {
    margin: 0 auto;
    --_height: 250px;
    --_gap: .5rem;

    --_grid-rows: var(--_height) var(--_height) var(--_height);
    --_height-hover: calc(var(--_height) * 2);
    --_height-not-hover: calc(var(--_height) / 2);

    width: 100%;
    max-width: 800px;
    display: grid;
    gap: var(--_gap);
    padding: 50px 0;
}

@media (min-width:720px) {
    .gallery__second {
        grid-template-columns: repeat(3, 1fr);
    }

}

.gallery__second>div {
    height: fit-content;
    display: grid;
    grid-template-rows: var(--_grid-rows);
    gap: var(--_gap);
    transition: grid-template-rows 300ms ease-in-out;
}

.gallery__second>div>article {
    position: relative;
    border: 1px solid yellow;
    border-radius: 30px;
}

.gallery__second>div>article>div {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #00000070;
    font-size: 0.65rem;
    color: white;
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .15rem 0.5rem;

}

.gallery__second>div>article>div>span {
    font-size: 0.7rem;
    color: red;
}

.gallery__second img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.gallery__second>div:has(>article:nth-child(1):hover) {
    --_grid-rows: var(--_height-hover) var(--_height-not-hover) var(--_height-not-hover);
}

.gallery__second>div:has(>article:nth-child(2):hover) {
    --_grid-rows: var(--_height-not-hover) var(--_height-hover) var(--_height-not-hover);
}

.gallery__second>div:has(>article:nth-child(3):hover) {
    --_grid-rows: var(--_height-not-hover) var(--_height-not-hover) var(--_height-hover);
}

.gallery__second>div>article:hover {
    background-color: rgb(151, 152, 201);
    color: #FFF;
}